<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
            	<%= image_tag("avatar.png", :alt => "Avatar", :id => "avatar", :class => "img-responsive") %> 
            </div>
            <div id="text-header">
              <h1>Hello,<br> my name is <span>Lloyd D'Silva</span> and this is my resume/portfolio</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>Objective</h2>
            <p>Seeking a full-time Product Management / Software Engineering role, in Silicon Valley, starting in August 2015.</p>
            <p>Over 5 years of Tech / Product experience in Investment Banking Technology and Web Startups.</p>
          </div>
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2015</div>
                <div class="description pull-right">
                  <h3>Carnegie Mellon Silicon Valley, Mountain View, CA</h3>
                  <p>Masters of Science in Software Management. Current GPA 4.0/4.0</p>
                  <p>Technology Product / Process / Project / Financial Management</p>
                  <p>Awarded Software Management Fellowship</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2013</div>
                <div class="description pull-right">
                  <h3>The Founder Institute, San Francisco, CA</h3>
                  <p>Startup Pre-Accelerator</p>
                  <p>Ideation, Customer Development, Legal & IP, Hiring, Product Development, Sales & Customer Acquisition, Revenues, Marketing & Fund Raising</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2008</div>
                <div class="description pull-right">
                  <h3>National University of Singapore, Singapore</h3>
                  <p>Bachelors of Computing (Honors) in Computer Engineering with Minor in Financial Math</p>
                  <p>Undergraduate Discussion Leader - CS1102X Data Structures & Algorithms</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2004</div>
                <div class="description pull-right">
                  <h3>MES Indian School, Doha, Qatar</h3>
                  <p>Best Graduating Student Award</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Work Experience</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Jan 2015 - May 2015</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Graduate Assistant</div>
                <div class="description">Built a full-stack Web and Android app for fire-fighters and commanders, to coordinate emergency response during fires. Integrated the system with a wearable vest to track vital statistics of first responders while on the scene.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">HomeSquare Labs</div>
                <div class="year">Mar 2013 - Aug 2014</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Founder (Product / Tech)</div>
                <div class="description">Built a neighborhood & apartment level social network to help residents in Singapore mutually discover, communicate and bond with each other. Accessible at <a href="http://www.homesquare.co"  target="_blank">http://www.homesquare.co</a></div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Mar 2012 - Mar 2013</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Assistant Vice President, Sales Trade Capture Technology</div>
                <div class="description">Responsible for Software Requirements, Execution and Delivery of all APAC requirements
around Sales Trade Capture for a subset of investment banking products – government bonds and interest rate derivatives.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Mar 2010 - Mar 2012</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Analyst, Sales Trade Capture Technology</div>
                <div class="description">Software Engineer (Java) for APAC requirements related to Sales Workstation – a Sales Trade Capture platform used by Sales, Operations and Finance globally.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Barclays Investment Bank</div>
                <div class="year">Aug 2008 - Mar 2010</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Graduate Rotation Program, Technology</div>
                <div class="description">Rotated among 3 technology teams for 6 months each spanning – Sales Quick Wins
Technology, IT COO Office, Business Intelligence Technology. Delivered a wide range of technology projects on Java, ASP .Net, Excel VBA, SQL Server Business Intelligence.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <!-- RESUME -->
          <div class="box clearfix">
            <h2>PDF Resume</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-download fa-fw"></span></div>
              <div class="title only pull-right"><a href="http://www.lloyddsilva.com/resume.pdf" target="_blank">Resume</a></div>
            </div>
          </div>
          <!-- CONTACT -->
          <div class="box">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">lloyddsilva [at] gmail.com</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
              <div class="title pull-right">LinkedIn</div>
              <div class="description pull-right"><a href="https://www.linkedin.com/in/lloyddsilva" target="_blank">https://www.linkedin.com/in/lloyddsilva</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
              <div class="title pull-right">GitHub</div>
              <div class="description pull-right"><a href="https://github.com/lloyddsilva" target="_blank">https://github.com/lloyddsilva</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right"><a href="https://twitter.com/lloydjdsilva" target="_blank">https://twitter.com/lloydjdsilva</a></div>
            </div>
          </div>
          <!-- TECHNICAL SKILLS -->
          <div class="box clearfix">
            <h2>Technical Skills</h2>
            <div class="skills">
              <div class="item-skills" data-percent="1.00">Java</div>
              <div class="item-skills" data-percent="1.00">SQL</div>
              <div class="item-skills" data-percent="0.80">Ruby on Rails</div>
              <div class="item-skills" data-percent="0.75">Android</div>
              <div class="item-skills" data-percent="0.50">Excel VBA</div>
              <div class="item-skills" data-percent="0.40">WEKA / R - Data Mining</div>
              <div class="item-skills" data-percent="0.25">Node JS</div>
              <div class="item-skills" data-percent="0.10">iOS</div>
              <div class="skills-legend clearfix">
                <div class="legend-left legend">Beginner</div>
                <div class="legend-left legend"><span>Proficient</span></div>
                <div class="legend-right legend"><span>Intermediate</span></div>
                <div class="legend-right legend">Expert</div>
              </div>
            </div>
          </div>
          <!-- PRODUCT MANAGEMENT SKILLS -->
          <div class="box">
            <h2>Product Management Skills</h2>
            <div id="language-skills">
              <div class="skill">Customer Interviews </div>
              <div class="skill">User Stories </div>
              <div class="skill">Requirements Prioritization </div>
              <div class="skill">Software Product Strategy </div>
              <div class="skill">Software Marketing </div>
              <div class="skill">Software Financials </div>
              <div class="skill">Process & Project Management </div>
            </div>
          </div>
          <!-- HOBBIES -->
          <div class="box">
            <h2>Hobbies</h2>
            <div class="hobby">Travelling</div>
            <div class="hobby">Programming</div>
          </div>
        </div>
      </div>
      <!-- PORTFOLIO -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box clearfix">
            <h2>Portfolio</h2>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Jan 2015 - June 2015</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">Incident Aide</div>
                <div class="description"><a href="http://www.cmu.edu/silicon-valley/dmi/research/projects/incident-aide/" target="_blank">Incident Aide</a> is an Android app and Node JS backend to help coordinate emergency response during fires. I worked on integrating it with <a href="http://www.vitalresponder.pt/" target="_blank">Vital Responder</a> - a wearable vest - to track vital statistics of first responders while on the scene. <a href="http://www.cmu.edu/silicon-valley/research/tech-showcase/pdfs/2014/showcase-paper38-poster.pdf" target="_blank">More information</a></div>
                <br>
                <div class="description"><b>Frontend:</b> Android / Java</div>
                <div class="description"><b>Backend:</b> REST API using NodeJS & MongoDB</div>
                <div class="description"><b>Connectivity:</b> VitalResponder API</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ias/01-ias-01.png", :alt => "IAS", :id => "ias1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ias/01-ias-02.png", :alt => "IAS", :id => "ias2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ias/01-ias-03.png", :alt => "IAS", :id => "ias3", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ias/01-ias-04.png", :alt => "IAS", :id => "ias4", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Mar 2015 - May 2015</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">CouponSwipe</div>
                <div class="description">CouponSwipe is an Android app that allows users to browse deals located around them. Using an intuitive swiping mechanism, users can quickly sort through all the available deals and shortlist them by swiping right on them, or discard them by swiping left. Users can then see their shortlist and buy the deal via the deal aggregator’s website. We are currently a GroupOn affiliate and source deals exclusively from GroupOn.</div>
                <br>
                <div class="description"><b>Frontend:</b> Android / Java</div>
                <div class="description"><b>Backend:</b> REST API using Java & MySQL</div>
                <div class="description"><b>Connectivity:</b> GroupOn API</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/couponswipe/cs-01.png", :alt => "CouponSwipe", :id => "couponswipe1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/couponswipe/cs-02.png", :alt => "CouponSwipe", :id => "couponswipe2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/couponswipe/cs-03.png", :alt => "CouponSwipe", :id => "couponswipe3", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/couponswipe/cs-04.png", :alt => "CouponSwipe", :id => "couponswipe4", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Aug 2014 - May 2015</div>
              </div>
              <div class="col-sm-9">
                <div class="profession"><a href="http://www.furniapp.com" target="_blank">Furni www.furniapp.com</a></div>
                <div class="description">Furni is a mobile-first marketplace that facilitates the buying and selling of new and used furniture.  Sellers use it to list furniture for sale with a quick video of the item. Buyers can search for furniture based on detailed criteria and have the option of selecting a mover and making payments online. Via a network of moving partners, Furni facilitates the end-to-end process of buying furniture and getting that furniture delivered to the buyer. Furni is currently at a concept stage. </div>
                <br>
                <div class="description"><b>Landing Page:</b> Ruby on Rails / Bootstrap / Heroku</div>
                <div class="description"><b>UI Mockups:</b> Photoshop</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/furni/furni-01.png", :alt => "Furni", :id => "furni1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/furni/furni-02.png", :alt => "Furni", :id => "furni2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/furni/furni-03.png", :alt => "Furni", :id => "furni3", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/furni/furni-04.png", :alt => "Furni", :id => "furni4", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/furni/furni-05.png", :alt => "Furni", :id => "furni5", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Aug 2014 - Dec 2014</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">SSNoC - Survivable Social Network on Chip</a></div>
                <div class="description">SSNoC is a social network hosted on a beaglebone chip. It's purpose is to allow users in close proximity to the chip to use it in the event of a disaster (no cell connectivity). <a href="https://youtu.be/AwR0wN0UtLo" target="_blank">Video Demo</a></div>
                <br>
                <div class="description"><b>Frontend:</b> Node JS / Express / Jade</div>
                <div class="description"><b>Backend:</b> Java / Node JS / H2 Database / Beaglebone Chip</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ssnoc/ssnoc-01.jpg", :alt => "SSNoC", :id => "ssnoc1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/ssnoc/ssnoc-02.jpg", :alt => "SSNoC", :id => "ssnoc2", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Aug 2014 - Dec 2014</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">Airport / Travellers app concept</div>
                <div class="description">The purpose of the project was the envision how we could make life for travellers easier if we could track their location within an airport. We came up with two concepts - one was showing travellers time to perform any task they have to in the airport and the second was to enable peer-peer chat using a mesh network in the airport </div>
                <br>
                <div class="description"><b>UI Mockups:</b> Photoshop</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/airport/airport-01.png", :alt => "Airport", :id => "airport1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/airport/airport-02.png", :alt => "Airport", :id => "airport2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/airport/airport-03.png", :alt => "Airport", :id => "airport3", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/airport/airport-04.png", :alt => "Airport", :id => "airport4", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Jan 2015 - May 2015</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">Data Mining Walmart Store Sales to Predict Future Sales</div>
                <div class="description">A Data Analytics project based on the kaggle competion <a href="https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting" target="_blank">Walmart Recruiting - Store Sales Forecasting</a>. We used various tools like WEKA and R to predict future walmart sales using data mining algorithms like Linear Regression, SMOReg, Nearest Neighbor, IBk, Perceptrons, Holt Winters and ARIMA. </div>
                <br>
                <div class="description"><b>Data Mining:</b> WEKA / R / Kaggle</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/walmart/walmart-01.png", :alt => "Walmart", :id => "walmart1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/walmart/walmart-02.png", :alt => "Walmart", :id => "walmart2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/walmart/walmart-03.png", :alt => "Walmart", :id => "walmart3", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Carnegie Mellon Silicon Valley</div>
                <div class="year">Jan 2015 - May 2015</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">Amazon Apple Watch app concept</div>
                <div class="description">A Human Computer Interaction project to design an Apple Watch app for Amazon. </div>
                <br>
                <div class="description"><b>UI Mockups:</b> Keynote / Photoshop</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/amazon/amazon-01.png", :alt => "Amazon", :id => "amazon1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/amazon/amazon-02.png", :alt => "Amazon", :id => "amazon2", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">HomeSquare Labs / Founder Institute</div>
                <div class="year">Mar 2013 - Aug 2014</div>
              </div>
              <div class="col-sm-9">
                <div class="profession"><a href="http://www.homequare.co" target="_blank">HomeSquare</a> - A Social Network for Neighborhoods and Apartments</div>
                <div class="description">HomeSquare is a hyperlocal social network for high density apartment complexes and neighborhoods in Singapore. It was incubated in <a href="http://fi.co" target="_blank">The Founder Institute SF</a> and is a registered startup in Singapore. </div>
                <br>
                <div class="description"><b>Full Stack:</b> Ruby on Rails</div>
                <div class="description"><b>Connectivity:</b> Google Maps / OneMaps SG / Amazon S3 / Facebook Login / MailChimp / Google Analytics</div>
              </div>
              <div class="container nopadding">
                <ul class="row">
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/homesquare/homesquare-01.png", :alt => "HomeSquare", :id => "homesquare1", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/homesquare/homesquare-02.png", :alt => "HomeSquare", :id => "homesquare2", :class => "img-responsive") %></li>
                  <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= image_tag("projects/homesquare/homesquare-03.png", :alt => "HomeSquare", :id => "homesquare3", :class => "img-responsive") %></li>
                </ul>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Barclays Capital</div>
                <div class="year">Mar 2010 - Mar 2013</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">Sales Workstation</div>
                <div class="description">Sales Workstation is a Sales Trade Capture application used by Sales People, Sales Assistants, Sales Finance and Sales Operations staff worldwide. It captures trades spanning Government Bonds, Corporate Bonds, Commercial Paper, CDS, Mortgages, Loans, Money Market Instruments. My role was primarily to develop Asia Pacific related functionality for Sales Workstation. </div>
                <br>
                <div class="description"><b>Backend:</b> Java / Java Spring / Sybase / SQL Server / </div>
                <div class="description"><b>Frontend:</b> Eclipse RCP / Java </div>
                <div class="description"><b>Messaging:</b> Solace </div>
                <div class="description"><b>Tools:</b> Autosys / JIRA </div>
              </div>
            </div>

            <div class="job clearfix">
              <div class="col-sm-3">
                <div class="where">Barclays Capital</div>
                <div class="year">Aug 2009 - Mar 2010</div>
              </div>
              <div class="col-sm-9">
                <div class="profession">TextStation</div>
                <div class="description">TextStation is a tool used by Sales People to send SMS to their clients. </div>
                <br>
                <div class="description"><b>Full Stack:</b> Java / Sybase / SQL Server </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
